body{
    background-image: linear-gradient(#7ac2a5, #e0d8d8);

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mainDiv{
    background-color: #e0d8d8;
    border-radius: 50px ;
    padding: 0 20px;
    box-shadow: inset(0px 0px);
}
p{
    font-size: 60px;
}
